body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  display: flex;
  background: #1c1c1c;
  margin: 0;
}
li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
}
.main-content {
  max-width: 1140px;
  margin: 50px auto;
}
h1 {
  text-align: center;
}
textarea {
  width: 100%;
}
input {
  border: none;
  background: #1c1c1c;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
}
